# Cached datasets
cached_datasets/
supervised_datasets/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Results and outputs
results/
slurm_outputs/
thesis_plot_notebook_data/
thesis_plot_outputs/
.matplotlib_cache/
*.pkl
*.json
*.ipynb
install.cmd
# Ignore everything inside probe_results
probe_results/**


# Tests
quick_tests/

# Environment
.env
venv/
env/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
